@model WebBlog.Models.EntityForViews.QuestionnaireEntity


<div class="questionnaire-result">
    <h2>@Model.Name результат опроса</h2>
    <div class="info">
        <p>Вы оценили Blog @Model.Mark из 100 </p>
        <p>Спасибо за ваш отклик</p>
    </div>
</div>

