@model global::WebBlog.Models.DataContext

@{
    ViewBag.Title = "Guest";
    var comments = Model.Comments.OrderByDescending(x=>x.Date);

}
<div class="guest-form" >
    <form  method="post" action="PostGuest">
        <input type="hidden" value="@DateTime.Now" name="date" />
        <h2>Оставить отзыв</h2>
        <label for="name">Введите ваше имя</label>
        <br />
        <input type="text" name="name"  placeholder="Имя" />
        <br />
        <label for="text">Отзыв</label>
        <br />
        <textarea name="text" placeholder="Текст отзыва"></textarea>
        <br />
        <input type="submit" name="submit" value="Отправить" />
    </form>
</div>

<div class="reviers">
    @foreach (var Item in comments)
    {
    <div class="review">
        <p class="review-name">@Item.Name</p>
        <p class="review-date">@Item.Date.ToString()</p>
        <p class="review-text">@Item.Text</p>
    </div>
    }
</div>



