
@{
    ViewBag.Title = "Main";
}

@for(int i = 0; i<ViewBag.Articles.Count;i++)
{
    <div class="article">
        <a href="/Blog/Article?id=@i">
            <p class="article-title">@ViewBag.Articles[i].Title</p>
            <p class="article-date">@ViewBag.Articles[i].Date.ToString()</p>
            <p class="article-text">@ViewBag.Articles[i].Text</p>
        </a>
    </div>
}

