
@{
    ViewBag.Title = "QuestionnaireResult";
}

<div class="questionnaire-result">
    <h2>@ViewBag.Person, результат опроса</h2>
    <div class="info">
        <p>Максимальный бал @ViewBag.MarkMax</p>
        <p>Вы оценили Blog в @ViewBag.MarkPerson</p>
        <p>Ваши рекомендации для нашего веб-сайта:</p>
        <p>@ViewBag.Recomendations</p>
    </div>
</div>

