@model  global::WebBlog.Models.DataContext

@{
    ViewBag.Title = "Questionnaire";
}

<div class="questionnaire-form">
    <h1>Оценка веб-сайта – Оценка работы сайта посетителями</h1>
    <h2>Здравствуйте, потратьте, пожалуйста, несколько минут своего времени на заполнение следующей анкеты.</h2>

    <form method="post">
        <label for="name">Введите ваше имя</label>
        <br />
        <input type="text" name="personName" placeholder="Имя" />
        @foreach (var item in Model.Questions)
        {
            @Html.Partial("GetQuestion", item)
        }
        <label for="Recomendations">Как на ваш взгляд можно улучшить веб сайт</label>
        <br />
        <textarea name="recomendations" placeholder="Ваши рекомендации"></textarea>
        <br />
        <input type="submit" name="submit" value="Отправить" />

    </form>
</div>


